@section LeftSide
{
    <h3>Color palette</h3>


    <p>
        This color palette comprises Primary and Accent colors that can be used for illustration or to develop your brand colors. They’ve been designed to work harmoniously with each other.
        The color palette starts with Primary colors and fills in the spectrum to create a complete and usable palette for Android, Web, and iOS. Google suggests using the 500 colors as the Primary colors in your app and the other colors as Accents colors.
        <div style="margin-top: 30px">
            <ul class="list-bordered">
                <li>
                    <a target="_blank" href="https://www.google.com/design/spec/style/color.html#">
                        <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                        Material design colors spec
                    </a>
                </li>
            </ul>
        </div>
}


        <div style="width: auto; " class="mdl-card mdl-shadow--2dp">


            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Background colors</h2>
            </div>
            <div style="padding: 30px;">
                <div class="mdl-grid">

                    <div class="mdl-cell--1-col" mdl-bgcolor="@MDLColors.Lime.WithAlpha200">Lime - A200</div>

                </div>

                <div class="mdl-card__title">
                    <h4>All Colors</h4>
                </div>



                <div class="mdl-grid">


                    @foreach (var color in MDLColors.All)
                    {

                        <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--4-col">
                            <thead>
                                <tr mdl-bgcolor="color">
                                    @if (color == MDLColors.Black)
                                    {
                                        <th class="mdl-data-table__cell--non-numeric mdl-color-text--white">@color.Name</th>
                                    }
                                    else
                                    {
                                        <th class="mdl-data-table__cell--non-numeric">@color.Name</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (color is SpectrumMDLColor)
                {
                    foreach (var spectrum in (color as SpectrumMDLColor).AllSpectrums)
                    {
                                        <tr mdl-bgcolor="spectrum">
                                            <td class="mdl-data-table__cell">@spectrum.Spectrum</td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    }
                </div>

                <div class="snippet-code">

                    <pre class="language-markup codepen-button-enabled">
<code id="badge/badge-on-icon-text.html"><!-- number badge on icon -->
&lt;mdl-badge class=&quot;material-icons mdl-color-text--grey-600 mdl-color-badge--greens&quot; style=&quot;font-size: 32px;right: -10px;&quot; data=&quot;1&quot;&gt;account_box&lt;/mdl-badge&gt;               
</code>
<code id="badge/badge-on-icon-icon.html"><!-- Icon badge on icon -->
&lt;mdl-badge class=&quot;material-icons&quot; data=&quot;♥&quot;&gt;account_box&lt;/mdl-badge&gt; 
</code>
</pre>
                </div>
            </div>
        </div>