@section LeftSide
{
    <h3>Elevation and shadows</h3>


    <p>
        Objects in material design possess similar qualities to objects in the physical world. In the physical world, objects can be stacked or affixed to one another, but cannot pass through each other. Objects cast shadows and reflect light.
    </p>
    <p>
        These qualities form a spatial model that is familiar to users and can be applied consistently across apps. Underpinning this spatial model are the concepts of elevation and shadow.
    </p>
    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="https://www.google.com/design/spec/what-is-material/elevation-shadows.html#">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Material design colors spec
                </a>
            </li>
        </ul>
    </div>
}

<div style="padding: 30px;">
    
    <mdl-grid>
        <mdl-cell size="3" class="mdl-card  mdl-shadow--2dp">.mdl-shadow--2dp</mdl-cell>
        <mdl-cell size="3" class="mdl-card  mdl-shadow--3dp">.mdl-shadow--3dp</mdl-cell>
        <mdl-cell size="3" class="mdl-card  mdl-shadow--4dp">.mdl-shadow--4dp</mdl-cell>
        <mdl-cell size="3" class="mdl-card  mdl-shadow--6dp">.mdl-shadow--6dp</mdl-cell>
        <mdl-cell size="3" class="mdl-card  mdl-shadow--8dp">.mdl-shadow--8dp</mdl-cell>
        <mdl-cell size="3" class="mdl-card  mdl-shadow--16dp">.mdl-shadow--16dp</mdl-cell>
    </mdl-grid>

</div>
