@{
    ViewData["Title"] = "Home Page";
}

<section id="badges-section" class="mdl-components__page mdl-grid is-active">
<div class="mdl-cell mdl-cell--12-col">
<div class="docs-text-styling component-title">
    <h3>Badges</h3>
    <p>Small status descriptors for UI elements.</p>
</div>


<div class="docs-text-styling docs-readme">

    <h2 id="introduction">Introduction</h2>
    <p>The Material Design Lite (MDL) <strong>badge</strong> component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.
    </p>
    <p>You can use a badge to unobtrusively draw the user's attention to items they might not otherwise notice, or to emphasize that items may need their attention. For example:</p>

    <auto>Visit us at http://docs.asp.net or at www.microsoft.com</auto>

    <auto>Visit us at http://www.asp.net</auto>
    <auto>www.asp.net</auto>



</div>

</div>
</section>


<mdl-badge data="♥" href="#">Mood</mdl-badge>
