<aside class="mdl-components__nav docs-text-styling mdl-shadow--4dp">

    <a href="#badges-section" class="mdl-components__link mdl-component badges">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_badges.png')">
        </div>
        <span class="mdl-components__link-text">Badges</span>
    </a>

    <a href="#buttons-section" class="mdl-components__link mdl-component buttons">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_buttons.png')">
        </div>
        <span class="mdl-components__link-text">Buttons</span>
    </a>

    <a href="#cards-section" class="mdl-components__link mdl-component cards">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_cards.png')">
        </div>
        <span class="mdl-components__link-text">Cards</span>
    </a>

    <a href="#layout-section" class="mdl-components__link mdl-component layout">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_layout.png')">
        </div>
        <span class="mdl-components__link-text">Layout</span>
    </a>

    <a href="#loading-section" class="mdl-components__link mdl-component loading">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_loading.png')">
        </div>
        <span class="mdl-components__link-text">Loading</span>
    </a>

    <a href="#menus-section" class="mdl-components__link mdl-component menus">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_menus.png')">
        </div>
        <span class="mdl-components__link-text">Menus</span>
    </a>

    <a href="#sliders-section" class="mdl-components__link mdl-component sliders">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_sliders.png')">
        </div>
        <span class="mdl-components__link-text">Sliders</span>
    </a>

    <a href="#toggles-section" class="mdl-components__link mdl-component toggles">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_toggles.png')">
        </div>
        <span class="mdl-components__link-text">Toggles</span>
    </a>

    <a href="#tables-section" class="mdl-components__link mdl-component tables">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_tables.png')">
        </div>
        <span class="mdl-components__link-text">Tables</span>
    </a>

    <a href="#textfields-section" class="mdl-components__link mdl-component textfields">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_textfields.png')">
        </div>
        <span class="mdl-components__link-text">Text Fields</span>
    </a>

    <a href="#tooltips-section" class="mdl-components__link mdl-component tooltips">
        <div class="mdl-components__link-image"
             style="background-image: url('/images/comp_tooltips.png')">
        </div>
        <span class="mdl-components__link-text">Tooltips</span>
    </a>

</aside>