body {
    overflow: hidden;
}

.mdl-card {
    width: auto;
}

.mdl-card__actions {
     display: flex; 
}


.mdl-progress {
    width: 100%;
}

.mdl-card .mdl-data-table {
    width: 100%;
    border:0;
}