@{

    ViewBag.Page = new[] { "Components", "Footer" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.DeepPurple,
        Title = "Footer",
        SubTitle = "blabla"
    };
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Mega Footer"></mdl-card-title>

    <mdl-footer >
        <mdl-footer-top>
            <mdl-footer-left></mdl-footer-left>
            <mdl-footer-right></mdl-footer-right>
        </mdl-footer-top>
    </mdl-footer>

    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__top-section">
            <div class="mdl-mega-footer__left-section">
                <button class="mdl-mega-footer__social-btn"></button>
                <button class="mdl-mega-footer__social-btn"></button>
                <button class="mdl-mega-footer__social-btn"></button>
            </div>
            <div class="mdl-mega-footer__right-section">
                <a href="#">Introduction</a>
                <a href="#">App Status Dashboard</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
        <div class="mdl-mega-footer__middle-section">
            <div class="mdl-mega-footer__drop-down-section">
                <h1 class="mdl-mega-footer__heading">Learning and Support</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Resource Center</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Learn with Google</a></li>
                    <li><a href="#">Small Business Community</a></li>
                    <li><a href="#">Think Insights</a></li>
                </ul>
            </div>
            <div class="mdl-mega-footer__drop-down-section">
                <h1 class="mdl-mega-footer__heading">Just for Developers</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Google Developers</a></li>
                    <li><a href="#">AdWords API</a></li>
                    <li><a href="#">AdWords Scipts</a></li>
                    <li><a href="#">AdWords Remarketing Tag</a></li>
                </ul>
            </div>
        </div>
        <div class="mdl-mega-footer__bottom-section">
            <div class="mdl-logo">
                More Information
            </div>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy and Terms</a></li>
            </ul>
        </div>
    </footer>


    <pre><code class="language-markup">
&lt;mdl-tabs selected=&quot;0&quot; &gt;
    &lt;mdl-tab-panel title=&quot;Nunc tincidunt&quot;&gt;
        &lt;p&gt;Proin elit arcu, m nulla...&lt;/p&gt;
    &lt;/mdl-tab-panel&gt;
    &lt;mdl-tab-panel title=&quot;Proin dolor&quot;&gt;
        &lt;p&gt;Morbi tincidunt,...&lt;/p&gt;
    &lt;/mdl-tab-panel&gt;
    &lt;mdl-tab-panel title=&quot;Aenean lacinia&quot;&gt;
        &lt;p&gt;Mauris eleifend est et turpis...&lt;/p&gt;
    &lt;/mdl-tab-panel&gt;
&lt;/mdl-tabs&gt;
    </code>
</pre>

  

</mdl-card>