@{

    ViewBag.Page = new[] { "Components", "Sliders" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.Cyan,
        Title = "Slider",
        SubTitle = "blabla"
    };
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Sliders"></mdl-card-title>

    <mdl-card-supporting-text>

        <h4>Default Slider</h4>
        <!-- Default Slider -->
        <mdl-textfield label="value" v-model="sliderValue"></mdl-textfield>
        <mdl-slider min="0" max="100"  v-slider="sliderValue" ></mdl-slider>
        
        <h4>Slider with Starting Value</h4>
       
        <mdl-slider min="0" max="100"  value="25"></mdl-slider>

    </mdl-card-supporting-text>
            <pre><code class="language-markup">
    </code>
</pre>



</mdl-card>