@{

    ViewBag.Page = new[] { "Components", "Sliders" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.Cyan,
        Title = "Slider",
        SubTitle = "blabla"
    };
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Sliders"></mdl-card-title>

    <mdl-card-supporting-text>

        <h4>Default Slider</h4>
        <!-- Default Slider -->
        <input class="mdl-slider mdl-js-slider" type="range"
               min="0" max="100" value="0" tabindex="0">

        <h4>Slider with Starting Value</h4>
        <!-- Slider with Starting Value -->
        <input class="mdl-slider mdl-js-slider" type="range"
               min="0" max="100" value="25" tabindex="0">

    </mdl-card-supporting-text>
            <pre><code class="language-markup">
    </code>
</pre>



</mdl-card>