@{

    ViewBag.Page = new[] { "Components", "Tables" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.Teal,
        Title = "Tables",
        SubTitle = "blabla"
    };
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Tables"></mdl-card-title>
    
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
            <thead mdl-bgcolor="@MDLColors.Grey.WithBritghness200">
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Material</th>
                <th>Quantity</th>
                <th>Unit price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                <td>25</td>
                <td>$2.90</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                <td>50</td>
                <td>$1.25</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                <td>10</td>
                <td>$2.35</td>
            </tr>
            </tbody>
        </table>
    
    <pre><code class="language-markup">
&lt;mdl-tabs selected=&quot;0&quot; &gt;
    &lt;mdl-tab-panel title=&quot;Nunc tincidunt&quot;&gt;
        &lt;p&gt;Proin elit arcu, m nulla...&lt;/p&gt;
    &lt;/mdl-tab-panel&gt;
    &lt;mdl-tab-panel title=&quot;Proin dolor&quot;&gt;
        &lt;p&gt;Morbi tincidunt,...&lt;/p&gt;
    &lt;/mdl-tab-panel&gt;
    &lt;mdl-tab-panel title=&quot;Aenean lacinia&quot;&gt;
        &lt;p&gt;Mauris eleifend est et turpis...&lt;/p&gt;
    &lt;/mdl-tab-panel&gt;
&lt;/mdl-tabs&gt;
    </code>
</pre>



</mdl-card>
