@{

    ViewBag.Page = new[] { "Components", "Text fields" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.LightGreen,
        Title = "Text fields",
        SubTitle = "blabla"
    };
}




<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Simple Text fields"></mdl-card-title>
    <mdl-card-supporting-text>
        <mdl-grid>

            <mdl-cell>

                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="sample1">
                        <label class="mdl-textfield__label" for="sample1">Text...</label>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Number...</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample3" disabled="" value="Hello I'm a disabled field">
                    <label class="mdl-textfield__label" for="sample3">I'm Disabled</label>
                </div>
            </mdl-cell>
        </mdl-grid>

    </mdl-card-supporting-text>

    <mdl-card-title title="Floating Label"></mdl-card-title>

    <mdl-card-supporting-text>
        <mdl-grid>

            <mdl-cell>

                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample1">
                        <label class="mdl-textfield__label" for="sample1">Text...</label>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Number...</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3" disabled="" value="Hello I'm a disabled field">
                    <label class="mdl-textfield__label" for="sample3">I'm Disabled</label>
                </div>
            </mdl-cell>
        </mdl-grid>

    </mdl-card-supporting-text>

    <mdl-card-title title="Multiline"></mdl-card-title>

    <mdl-card-supporting-text>
        <mdl-grid>

            <mdl-cell>

                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows="3" id="sample5"></textarea>
                        <label class="mdl-textfield__label" for="sample5">Text lines...</label>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows="1" id="sample5"></textarea>
                        <label class="mdl-textfield__label" for="sample5">Text lines...</label>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" maxrows="3" rows="1" id="sample5"></textarea>
                        <label class="mdl-textfield__label" for="sample5">Text lines...</label>
                    </div>
                </form>
            </mdl-cell>
        </mdl-grid>

    </mdl-card-supporting-text>

    <mdl-card-title title="Expandable "></mdl-card-title>

    <mdl-card-supporting-text>
        <mdl-grid>

            <mdl-cell>

                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="sample6">
                            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample-expandable-floating">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="sample-expandable-floating">
                            <label class="mdl-textfield__label" for="sample-expandable-floating">
                                Expandable &amp; Floating
                                Input
                            </label>
                        </div>
                    </div>
                </form>
            </mdl-cell>

            <mdl-cell>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                        Right/No Label:
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample-expclean">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" name="sample" id="sample-expclean">
                        </div>
                    </div>
                </form>
            </mdl-cell>
        </mdl-grid>

    </mdl-card-supporting-text>

</mdl-card>
