@{

    ViewBag.Page = new[] { "Components", "Colors" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.Amber,
        Title = "Color palette",
        SubTitle = "This color palette comprises Primary and Accent colors that can be used for illustration or to develop your brand colors."
    };
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Palette of colors"></mdl-card-title>
    <mdl-card-title subtitle="Can be used for text and background"></mdl-card-title>


    <mdl-card-supporting-text>
        <mdl-grid>

            @foreach (var color in MDLColors.All)
            {
                <mdl-cell size="4">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr mdl-bgcolor="color">
                                @if (color == MDLColors.Black)
                                {
                                    <th class="mdl-data-table__cell--non-numeric mdl-color-text--white">@color.Name</th>
                                }
                                else
                                {
                                    <th class="mdl-data-table__cell--non-numeric">@color.Name</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (color is SpectrumMDLColor)
                {
                    foreach (var spectrum in (color as SpectrumMDLColor).AllSpectrums)
                    {
                                    <tr mdl-bgcolor="spectrum">
                                        <td class="mdl-data-table__cell">@spectrum.Spectrum</td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </mdl-cell>
            }
        </mdl-grid>
        </mdl-card-supporting-text>
            <div class="snippet-code">

                <pre class="language-markup codepen-button-enabled">
<code id="badge/badge-on-icon-text.html"><!-- number badge on icon -->
&lt;mdl-badge class=&quot;material-icons mdl-color-text--grey-600 mdl-color-badge--greens&quot; style=&quot;font-size: 32px;right: -10px;&quot; data=&quot;1&quot;&gt;account_box&lt;/mdl-badge&gt;               
</code>
<code id="badge/badge-on-icon-icon.html"><!-- Icon badge on icon -->
&lt;mdl-badge class=&quot;material-icons&quot; data=&quot;♥&quot;&gt;account_box&lt;/mdl-badge&gt; 
</code>
</pre>
            </div>

</mdl-card>