@{
ViewBag.Page = new[] { "Components", "Icons" };

ViewBag.Header = new Header
{
    BgColor = MDLColors.Orange,
    Title = "Material Design Icons",
    SubTitle = "Material Design Icons are the official open-source icons featured in the Google Material Design specification."
};
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Specific  icon"></mdl-card-title>

    <div style="padding: 30px;">
        <mdl-icon icon="@@MDLIcons.accessibility"></mdl-icon>
    </div>
    <pre><code class="language-markup">
&lt;mdl-icon icon=&quot;MDLIcons.accessibility&quot; &gt;&lt;/mdl-icon&gt;               
</code></pre>
    <mdl-card-title title="All icons"></mdl-card-title>

    <div class="mdl-grid" style="padding: 30px;">


        @foreach (var icon in MDLIcons.All)
        {
            <div class="mdl-cell mdl-cell--1-col mdl-color-text--grey">
                <mdl-icon icon="@icon" icon-size="64" mdl-tooltips="@icon.Name"></mdl-icon>
            </div>


        }






    </div>



</mdl-card>
