@{
    ViewBag.Page = new[] { "Components", "Shadows" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.DeepOrange,
        Title = "Elevation and shadows",
        SubTitle = " Objects in material design possess similar qualities to objects in the physical world. In the physical world, objects can be stacked or affixed to one another, but cannot pass through each other. Objects cast shadows and reflect light."
    };
}

<div style="padding: 30px;">

    <mdl-card mdl-shadow="@MdlShadows.Dp2">

        <mdl-grid>
            @foreach (var mdlShadow in MdlShadows.All)
            {
                <mdl-cell class="mdl-typography--text-center" style="margin: 20px;padding-top: 65px;width: 150px;height: 150px" mdl-shadow="@mdlShadow">@mdlShadow.Deep dp</mdl-cell>
            }
        </mdl-grid>
        </mdl-card>

</div>
