@{
    ViewData["Title"] = "Home Page";
}

@section LeftSide
{
    <h3>
        <i class="material-icons">notifications</i> Badges
    </h3>

    <p>The Material Design Lite (MDL) badge component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.</p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#badges-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Badges
                </a>
            </li>
        </ul>
    </div>
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Badges on icon"></mdl-card-title>

    <mdl-grid>
        <mdl-cell>
            <mdl-icon icon="@MDLIcons.account_box" mdl-badge="1"></mdl-icon>
            <h4></h4>
        </mdl-cell>
        <mdl-cell>
            <mdl-icon icon="@MDLIcons.account_box" icon-size="32" mdl-badge="1"></mdl-icon>
            <mdl-badge class="material-icons mdl-color-text--grey-600 mdl-color-badge--green" style="font-size: 32px; right: -10px;" data="1">account_box</mdl-badge>
            <h4></h4>
        </mdl-cell>
        <mdl-cell>
            <mdl-badge class="material-icons" data="♥">account_box</mdl-badge>
        </mdl-cell>
        <mdl-cell>
            <span class="material-icons mdl-badge" data-badge="1">account_box</span>
        </mdl-cell>
    </mdl-grid>

    <mdl-card-title title="Badges on label"></mdl-card-title>

<mdl-grid>
    <mdl-cell><mdl-badge data="4">Inbox</mdl-badge></mdl-cell>
    <mdl-cell><a href="#">Inbox</a><span class="mdl-badge" data-badge="4"></span></mdl-cell>
    <mdl-cell><button class="mdl-button mdl-js-button mdl-button--raised">Inbox<span style="right: 10px;" class="mdl-badge" data-badge="4"></span></button>

@*element.style {
    /* right: 10px; */
    /* position: absolute; */
    margin-top: -8px;
    margin-right: 0;
    position: initial;
    }*@</mdl-cell>
</mdl-grid>
    </mdl-card>