@section LeftSide
{
    <h3>
        <i class="material-icons">notifications</i> Badges
    </h3>

    <p>The Material Design Lite (MDL) badge component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.</p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#badges-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Badges
                </a>
            </li>
        </ul>
    </div>
}


<div style="width: auto; " class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">FAB button</h2>
    </div>
    <div style="padding: 30px;">

      

        <!-- Colored FAB button -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

        <button class="mdl-button mdl-js-button mdl-button--fab">
            <i class="material-icons">add</i>
        </button>
        <!-- FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">add</i>
        </button>
        <!-- Disabled FAB button -->
        <button class="mdl-button mdl-js-button mdl-button--fab" disabled>
            <i class="material-icons">add</i>
        </button>

        <!-- Mini FAB button -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <i class="material-icons">add</i>
        </button>
        <!-- Colored mini FAB button -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

    </div>
</div>


<div style="width: auto; " class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Standard button</h2>
    </div>
    <div style="padding: 30px; margin: 0;" class="mdl-grid">

        <!-- Raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised">
            Button
        </button>
        <!-- Raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Button
        </button>
        <!-- Raised disabled button-->
        <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
            Button
        </button>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Button
        </button>
        <!-- Accent-colored raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Button
        </button>
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Button
        </button>

    </div>
</div>


<div style="width: auto; " class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Flat button</h2>
    </div>
    <div style="padding: 30px; margin: 0;" class="mdl-grid">

        <!-- Flat button -->
        <mdl-button>
            Button
        </mdl-button>

        <button class="mdl-button mdl-js-button">
            Button
        </button>
        <!-- Flat button with ripple -->
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Button
        </button>
        <!-- Disabled flat button -->
        <button class="mdl-button mdl-js-button" disabled>
            Button
        </button>

        <!-- Primary-colored flat button -->
        <button class="mdl-button mdl-js-button mdl-button--primary">
            Button
        </button>
        <!-- Accent-colored flat button -->
        <button class="mdl-button mdl-js-button mdl-button--accent">
            Button
        </button>

    </div>
</div>
<div style="width: auto; " class="mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Icon buttons</h2>
    </div>
    <div style="padding: 30px; margin: 0;" class="mdl-grid">

        <!-- Icon button -->
        <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">mood</i>
        </button>
        <!-- Colored icon button -->
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">mood</i>
        </button>

    </div>
</div>