@{
    ViewData["Title"] = "Home Page";
}

@section LeftSide
{
    <h3>
        <i class="material-icons">notifications</i> Badges
    </h3>

    <p>The Material Design Lite (MDL) badge component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.</p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#badges-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Badges
                </a>
            </li>
        </ul>
    </div>
}


<style>
    .demo-grid .mdl-cell {
    box-sizing: border-box;
    background-color: #BDBDBD;
    height: 200px;
    padding-left: 8px;
    padding-top: 4px;
    color: white;
    height: 100px;
}

</style>

<div style="width: auto; " class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Grid cell vertical align</h2>
    </div>
    <div style="padding: 30px;">

        <mdl-grid no-spacing="false" style="height:150px">
            <mdl-cell size="3" desktop="3" tablet="3" phonedsf="1" valign="MDLCellVAlign.Middle" mdl-bgcolor="MDLColors.Grey">cell on middle</mdl-cell>
            <mdl-cell size="3" desktop="3" tablet="2" phonedsf="1" valign="MDLCellVAlign.Top" mdl-bgcolor="MDLColors.Grey">cell on top</mdl-cell>
            <mdl-cell size="3" desktop="3" tablet="2" phonedsf="1" valign="MDLCellVAlign.Bottom" mdl-bgcolor="MDLColors.Grey">cell on bottom</mdl-cell>
            <mdl-cell size="3" desktop="3" tablet="2" phonedsf="1" valign="MDLCellVAlign.Stretch" mdl-bgcolor="MDLColors.Grey">cell stretch</mdl-cell>

        </mdl-grid>
        </div>
       
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Cell size</h2>
        </div>
        <div class="demo-grid" style="padding: 30px;">

            

            <mdl-grid>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
                <mdl-cell size="1" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">1</mdl-cell>
            </mdl-grid>

            <mdl-grid>
                <mdl-cell size="4" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">4</mdl-cell>
                <mdl-cell size="4" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">4</mdl-cell>
                <mdl-cell size="4" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">4</mdl-cell>
            </mdl-grid>

            <mdl-grid>
                <mdl-cell size="6" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">6</mdl-cell>
                <mdl-cell size="4" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">4</mdl-cell>
                <mdl-cell size="2" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">2</mdl-cell>
            </mdl-grid>

            <mdl-grid>
                <mdl-cell size="6" tablet="8" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">6 (8 tablet)</mdl-cell>
                <mdl-cell size="4" tablet="6" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">4 (6 tablet)</mdl-cell>
                <mdl-cell size="2" phone="2" class="mdl-color-text--white" mdl-bgcolor="MDLColors.Grey">2 (4 phone)</mdl-cell>
            </mdl-grid>




            <div class="snippet-code">

                <pre class="language-markup codepen-button-enabled">
<code id="badge/badge-on-icon-text.html">
</code>
</pre>
            </div>

        </div>


</div>