@section LeftSide
{
    <h3>
        Tabs
    </h3>

    <p>
      To be added  </p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#buttons-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Tabs
                </a>
            </li>
        </ul>
    </div>
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Sliders"></mdl-card-title>

    <mdl-card-supporting-text>

        <h4>Default Slider</h4>
        <!-- Default Slider -->
        <input class="mdl-slider mdl-js-slider" type="range"
               min="0" max="100" value="0" tabindex="0">

        <h4>Slider with Starting Value</h4>
        <!-- Slider with Starting Value -->
        <input class="mdl-slider mdl-js-slider" type="range"
               min="0" max="100" value="25" tabindex="0">

    </mdl-card-supporting-text>
            <pre><code class="language-markup">
    </code>
</pre>



</mdl-card>