@{
    ViewData["Title"] = "Home Page";
}

@section LeftSide
{
    <h3>
        <i class="material-icons">notifications</i> Badges
    </h3>

    <p>The Material Design Lite (MDL) badge component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.</p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#badges-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Badges
                </a>
            </li>
        </ul>
    </div>
}

<div style="width: auto; " class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Badges on icon</h2>
    </div>
    <div style="padding: 30px;">

        <form>
            <mdl-textfield></mdl-textfield>
        </form>
    </div>

</div>
