@section LeftSide
{
    <h3>
        Tabs
    </h3>

    <p>
      To be added  </p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#buttons-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Tabs
                </a>
            </li>
        </ul>
    </div>
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Checkbox"></mdl-card-title>

    <mdl-card-supporting-text>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
            <span class="mdl-checkbox__label">Checkbox</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
            <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Checkbox</span>
        </label>

    </mdl-card-supporting-text>
    <pre><code class="language-markup">
    </code></pre>
    
    <mdl-card-title title="Radio Button"></mdl-card-title>

    <mdl-card-supporting-text>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
            <span class="mdl-radio__label">First</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
            <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
            <span class="mdl-radio__label">Second</span>
        </label>

    </mdl-card-supporting-text>
    <pre><code class="language-markup">
    </code></pre>
    
    <mdl-card-title title="Icon Toggle"></mdl-card-title>

    <mdl-card-supporting-text>

        <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="icon-toggle-1">
            <input type="checkbox" id="icon-toggle-1" class="mdl-icon-toggle__input" checked>
            <i class="mdl-icon-toggle__label material-icons">format_bold</i>
        </label>
        <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="icon-toggle-2">
            <input type="checkbox" id="icon-toggle-2" class="mdl-icon-toggle__input">
            <i class="mdl-icon-toggle__label material-icons">format_italic</i>
        </label>

    </mdl-card-supporting-text>
    <pre><code class="language-markup">
    </code></pre>
    
    
    <mdl-card-title title="Switch"></mdl-card-title>

    <mdl-card-supporting-text>

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
            <span class="mdl-switch__label"></span>
        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
            <input type="checkbox" id="switch-2" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
        </label>

    </mdl-card-supporting-text>
    <pre><code class="language-markup">
    </code></pre>
    


</mdl-card>