@section LeftSide
{
   <p>The Material Design Lite (MDL) tooltip component is an enhanced version of the standard HTML tooltip as produced by the title attribute. A tooltip consists of text and/or an image that clearly communicates additional information about an element when the user hovers over or, in a touch-based UI, touches the element. The MDL tooltip component is pre-styled (colors, fonts, and other settings are contained in material.min.css) to provide a vivid, attractive visual element that displays related but typically non-essential content, e.g., a definition, clarification, or brief instruction.
    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#tooltips-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    tooltips
                </a>
            </li>
        </ul>
    </div>
}


<div style="width: auto; " class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Simple Tooltip</h2>
    </div>
    <div style="padding: 30px;">

        <mdl-grid>
            <mdl-cell size="4">
                <button class="mdl-button mdl-js-button mdl-button--icon" mdl-tooltips="Follow">
                    <mdl-icon value="@MDLIcons.add" ></mdl-icon>
                </button>
                

            </mdl-cell>
            <mdl-cell size="4">
                <!-- Large Tooltip -->
                <div id="tt2"class="icon material-icons">print<div class="mdl-tooltip mdl-tooltip--large" for="tt2">Print</div></div>
                
            </mdl-cell>

        </mdl-grid>



    </div>

    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Rich Tooltip</h2>
    </div>
    <div style="padding: 30px;">
        <div id="tt3" class="icon material-icons">cloud_upload</div>
        <mdl-tooltips for="tt3"> Upload <strong>file.zip</strong></mdl-tooltips>
       
        <!-- Multiline Tooltip -->
        <div id="tt4" class="icon material-icons">share</div>
        <div class="mdl-tooltip" for="tt4">
            Share your content<br>via social media
        </div>
    </div>
</div>
