<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileUploadBindingConfiguration" transferMode="Streamed" maxReceivedMessageSize="6710886400" maxBufferSize="65536" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.cyotek.com/Services/FileUploadService.svc" binding="basicHttpBinding" bindingConfiguration="FileUploadBindingConfiguration" contract="Innovasys.Luminitix.Contracts.IFileUpload"/>
    </client>
  </system.serviceModel>
</configuration>
